{% extends "layout.html" %}
{% block content %}
    <div class="content-section" style="text-align: center; width: 1000px; margin: 0 auto;">
        <h2 style="margin-bottom: 1.5rem;"><a class="article-title">OSZACUJ WARTOŚĆ KRYPTOAKTYWÓW</a></h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method=post>
            <div class="input-group">
                <select class="custom-select" id="market-select">
                    {% for market in markets %}
                         <option value={{market["id"]}}>{{market["name"]}}</option>
                    {% endfor %}
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="add-market-btn" type="button" onclick="add_crypto_field()">Dodaj dostawcę danych</button>
                </div>
            </div>
            <hr>
            <div id="form-container"></div>
            <input type=submit class="btn btn-primary" value="Dalej">
        </form>
    </div>
{% endblock %}